In [1]:
### importacao bibliotecas
import pandas
import pyspark
import kagglehub
from kagglehub import KaggleDatasetAdapter
from pyspark.sql import SparkSession
from pyspark.sql import DataFrame
from pandas import DataFrame as dataframe

In [2]:
# Set the path to the file you'd like to load
file_path = "olist_customers_dataset.csv"

# Load the latest version
df = kagglehub.load_dataset(
  KaggleDatasetAdapter.PANDAS,
  "olistbr/brazilian-ecommerce",
  file_path,
  # Provide any additional arguments like 
  # sql_query or pandas_kwargs. See the 
  # documenation for more information:
  # https://github.com/Kaggle/kagglehub/blob/main/README.md#kaggledatasetadapterpandas
)

/tmp/ipykernel_17082/1616023616.py:5: DeprecationWarning: load_dataset is deprecated and will be removed in a future version.
  df = kagglehub.load_dataset(

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.12), please consider upgrading to the latest version (0.3.13).

In [3]:
df.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [4]:
spark = SparkSession\
    .builder\
    .master('local[*]')\
    .appName("PandasToSpark")\
    .getOrCreate()

your 131072x1 screen size is bogus. expect trouble
25/09/07 10:17:49 WARN Utils: Your hostname, DESKTOP-NAF234M resolves to a loopback address: 127.0.1.1; using 10.255.255.254 instead (on interface lo)
25/09/07 10:17:49 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/09/07 10:17:50 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [5]:
df_sp = spark.createDataFrame(df)

In [6]:
df_sp.show(truncate=False)

+--------------------------------+--------------------------------+------------------------+---------------------+--------------+
|customer_id                     |customer_unique_id              |customer_zip_code_prefix|customer_city        |customer_state|
+--------------------------------+--------------------------------+------------------------+---------------------+--------------+
|06b8999e2fba1a1fbc88172c00ba8bc7|861eff4711a542e4b93843c6dd7febb0|14409                   |franca               |SP            |
|18955e83d337fd6b2def6b18a428ac77|290c77bc529b7ac935b93aa66c333dc3|9790                    |sao bernardo do campo|SP            |
|4e7b3e00288586ebd08712fdd0374a03|060e732b5b29e8181a18229c7b0b2b5e|1151                    |sao paulo            |SP            |
|b2b6027bc5c5109e529d4dc6358b12c3|259dac757896d24d7702b9acbbff3f3c|8775                    |mogi das cruzes      |SP            |
|4f2d8ab171c80ec8364f7c12e35b23ad|345ecd01c38d18a9036ed96c73b8d066|13056                   |campinas             |SP            |
|879864dab9bc3047522c92c82e1212b8|4c93744516667ad3b8f1fb645a3116a4|89254                   |jaragua do sul       |SC            |
|fd826e7cf63160e536e0908c76c3f441|addec96d2e059c80c30fe6871d30d177|4534                    |sao paulo            |SP            |
|5e274e7a0c3809e14aba7ad5aae0d407|57b2a98a409812fe9618067b6b8ebe4f|35182                   |timoteo              |MG            |
|5adf08e34b2e993982a47070956c5c65|1175e95fb47ddff9de6b2b06188f7e0d|81560                   |curitiba             |PR            |
|4b7139f34592b3a31687243a302fa75b|9afe194fb833f79e300e37e580171f22|30575                   |belo horizonte       |MG            |
|9fb35e4ed6f0a14a4977cd9aea4042bb|2a7745e1ed516b289ed9b29c7d0539a5|39400                   |montes claros        |MG            |
|5aa9e4fdd4dfd20959cad2d772509598|2a46fb94aef5cbeeb850418118cee090|20231                   |rio de janeiro       |RJ            |
|b2d1536598b73a9abd18e0d75d92f0a3|918dc87cd72cd9f6ed4bd442ed785235|18682                   |lencois paulista     |SP            |
|eabebad39a88bb6f5b52376faec28612|295c05e81917928d76245e842748184d|5704                    |sao paulo            |SP            |
|1f1c7bf1c9b041b292af6c1c4470b753|3151a81801c8386361b62277d7fa5ecf|95110                   |caxias do sul        |RS            |
|206f3129c0e4d7d0b9550426023f0a08|21f748a16f4e1688a9014eb3ee6fa325|13412                   |piracicaba           |SP            |
|a7c125a0a07b75146167b7f04a7f8e98|5c2991dbd08bbf3cf410713c4de5a0b5|22750                   |rio de janeiro       |RJ            |
|c5c61596a3b6bd0cee5766992c48a9a1|b6e99561fe6f34a55b0b7da92f8ed775|7124                    |guarulhos            |SP            |
|9b8ce803689b3562defaad4613ef426f|7f3a72e8f988c6e735ba118d54f47458|5416                    |sao paulo            |SP            |
|49d0ea0986edde72da777f15456a0ee0|3e6fd6b2f0d499456a6a6820a40f2d79|68485                   |pacaja               |PA            |
+--------------------------------+--------------------------------+------------------------+---------------------+--------------+
only showing top 20 rows